{% extends "base/baseTeacher.html.twig" %}


{% block body %}


	<div class="presenceTable">
		<div class="table-responsive">
			<table class="table table-bordered table-colorized table-hover">
				<thead>
					<tr>
						<th>Course's name</th>
						<th>Begin Date Courses</th>
						<th>End Date Courses</th>
						<th>Link to check QrCode</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody class="clickTable">
					{% for courses in coursesList %}
						<tr>
							<td>{{ courses.getNameUe() }}</td>
							<td>{{ courses.getBeginDate() | date("d-m-Y") }}</td>
							<td>{{ courses.getEndDate() | date("d-m-Y") }}</td>
							<td><a href="displayQrCode/{{ courses.getQrCode().getValue() }}" target="_blank">Link to QrCode</a></td>
							<td>
								<button type="button" class="btn btn-default" aria-label="Left Align" onclick=deleteCourses(this,{{ courses.getId() }})>
									<span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script>

            function deleteCourses(element,idCourses) {
            	let path = "{{ path('deleteCourses', {'idClasses': '__ID__'}) }}";
				path = path.replace("__ID__", idCourses);

				$.ajax({
					url:        path,
					type:       'GET',
               		async:      true,
               
                success: function(data, status) {
                	tr = element.parentNode.parentNode;
					tbody = tr.parentNode;
					tbody.removeChild(tr);
                },
                error : function(xhr, textStatus, errorThrown) {
                    alert('Ajax request failed.');
                }
            });  

            }
	</script>

{% endblock %}
