{% extends "base/baseTeacher.html.twig" %}


{% block body %}


	<div class="presenceTable">
		<div class="table-responsive">
			<table class="table table-bordered table-colorized table-hover">
				<thead>
					<tr>
						<th>Classe's name</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody class="clickTable">
					{% for class in classList %}
						<tr>
							<td>{{ class.getGroupName() }}</td>
							<td>
								<button type="button" class="btn btn-default" aria-label="Left Align" onclick=deleteClasse(this,{{ class.getId() }})>
									<span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script>

            function deleteClasse(element,idClasse) {
				let path = "{{ path('deleteStudentGroup', {'idStudentGroup': '__ID__'}) }}";
				path = path.replace("__ID__", idClasse);
				$.ajax({
					url: path,
					type:       'GET',
					async:      true,
               
				success: function(data, status) {
					tr = element.parentNode.parentNode;
					tbody = tr.parentNode;
					tbody.removeChild(tr);
			   },
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
            });  

            }
	</script>

{% endblock %}
