{% trans_default_domain 'FOSUserBundle' %}


{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="loginBloc">
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <h2 style="text-align: center">
            Log In
        </h2>
        <hr style="border: 1px solid #e4e4ff;">
        <br>
        <div style="width:96%;margin:0 2%">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input class= "form-control" type="text" placeholder="Username" id="username" name="_username" autocomplete="username" value="{{ last_username }}" style="width:100%" required>
        </div>
        <br>

        <div style="width:96%;margin:0 2%">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input class= "form-control" type="password" placeholder="Password" id="password" name="_password" autocomplete="current-password" style="width:100%" required>
            <a  href="/register">Create account</a>
        </div>
        <br>

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        <br>
        <div style="width:96%;margin:0 2% 1% 2%">
            <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" style="width:100%">
                Login
            </button>
        </div>
    </form>
</div>