{% extends "base/baseAdmin.html.twig" %}


{% block body %}

    <div class="presenceTable">
        <div class="table-responsive">
            <table class="table table-bordered table-colorized table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>Date begin contrat</th>
                        <th>Date end contrat</th>
                    </tr>
                </thead>
                <tbody class="clickTable">
                    {% for user in userList %}
                        <tr onclick=redirectToModifyUser({{ user.id }})>
                            <td>{{ user.username }}</td>
                            <td>{{ user.getRoleName() }}</td>
                            <td>{{ user.getEmail() }}</td>
                            {% if user.getInformationStudent() != null %}
                                <td>{{ user.getInformationStudent().getStartDateContrat() | date("d-m-Y") }}</td>
                                <td>{{ user.getInformationStudent().getEndDateContrat() | date("d-m-Y") }}</td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
