{% extends "base/baseNoInformation.html.twig" %}

{# For adding a stylesheet specific to the view (you can do the same for the "javascripts" block) #}
{% block stylesheets %}
	{{ parent() }}
	{# We want to keep the base styles #}
	<link href="{{ asset('css/page1.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block body %}
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		{% else %}
			<H1>Vous n'etes pas connecté.</H1>
	{% endif %}
{% endblock %}
