{% extends "base/baseCompany.html.twig" %}


{% block body %}


	<style>
		.space {
			width: 242px;
		}
	</style>

	<div class="presenceTable">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Date</th>
						<th>Timesheet</th>
						<th>Ue's name</th>
						<th>Presence</th>
					</tr>
				</thead>
				<tbody>
					{% for course in coursesList %}
						{% if course.studentPresence == "Present" %}
							<tr class="isPresent">
							{% elseif course.StudentPresence == "Absent" %}
								<tr class="isAbsent">
								{% else %}
									<tr>
									{% endif %}
									<td>{{ course.beginDate|date("d-m-Y") }}</td>
									<td>{{ course.beginDate|date("H:i")}}
										-
										{{ course.endDate|date("H:i")}}</td>
									<td>{{ course.nameUe }}</td>
									<td>{{ course.studentPresence }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</tbody>
			</div>
		</div>
	{% endblock %}
