{% trans_default_domain 'FOSUserBundle' %}

<style>
    input{
        width:100%
    }
</style>
<div class="loginBloc">
    <h2 style="text-align: center">
        Register
    </h2>
    <hr style="border: 1px solid #e4e4ff;">
    <br>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        <div style="width:96%;margin:0 2%">
            <div class="form-group">
                {{ form_row(form.email, { 'attr': {'style': 'width:100%',
                'placeholder': 'Exemple@ex.com',
                'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.username, { 'attr': {'style': 'width:100%',
                'placeholder': 'Username...',
                'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword.first, { 'attr': {'style': 'width:100%',
                'placeholder': 'Password...',
                'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword.second, { 'attr': {'style': 'width:100%',
                'placeholder': 'Confirm Password...',
                'class': 'form-control'}}) }}
            </div>
        </div>
        <br>
        <div style="width:96%;margin:0 2% 1% 2%">
            <div>
                <input type="submit" name="_submit" value="{{ 'registration.submit'|trans }}" style="width:100%"/>
            </div>
        </div>
    {{ form_end(form) }}
</div>