{% extends "base/baseTeacher.html.twig" %}


{% block body %}

    <div class="container" style="border: solid #009cde 3px; margin: 0% auto; width: 34%;">

        <h2 style="text-align: center">
            QrCode
        </h2>
        <hr style="border: 1px solid #e4e4ff;">
        <br>
        <div style="margin:1% auto;">
            <img src="{{ qr_code_data_uri(qrCodeValue, {writer: 'svg', size:600}) }}" style="max-width: 100%; max-height: 100%;">
        </div>
    </div>

{% endblock %}