{% extends "base/baseStudent.html.twig" %}

{% block body %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="content container">
  <video id="preview" style="display:block; margin:0 auto; min-width: 100%; transform: scaleX(0.26) scaleY(1); transform-origin: left top;" ></video>
</div>
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js" ></script>
<script type="text/javascript">
var contentDiv = document.getElementsByClassName('content')[0];

window.addEventListener("resize", resizeFunc);

function resizeFunc(){
  if (window.innerWidth < 700) {
    contentDiv.children.preview.style.width = "1280px";
    let scalex = (window.innerWidth*0.94)/1280;
    let scaley = (window.innerHeight*0.9)/920;
    contentDiv.children.preview.style.transform = "scaleX("+ scalex +") scaleY("+ scaley +")";  
  }
  else{
    contentDiv.children.preview.style.width = "";
    contentDiv.children.preview.style.transform = "scaleX(1) scaleY(1)"
  }
    
};

let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
      scanner.addListener('scan', function (content) {
        console.log(content);

        let path = "{{ path('VerifCode', {'resultCode': '__ID__'}) }}";
        path = path.replace("__ID__", content);

        $.get(path,
        {
        },
        function(data,status){
          if (status === "success") {
            window.location.replace("{{path("courses")}}");
          }
        });
      });
      Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[0]);
        } else {
          console.error('No cameras found.');
          var para = document.createElement("P");
          para.innerText = "If you see that you have no camera or not accepted the prompt of your browser.";
          contentDiv.appendChild(para);
          contentDiv.children.preview.remove();
          return;
        }
        resizeFunc();
      }).catch(function (e) {
        console.error(e);
        var para = document.createElement("P");
        para.innerText = "If you see that you have no camera or not accepted the prompt of your browser.";
        para.classList.add("text-center");
        contentDiv.appendChild(para);
        contentDiv.children.preview.remove();

});
</script>
{% endblock %}