<div class="navBar" id="mainNavBar">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('fos_user_security_logout') }}"> Logout </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}"> Login </a>
        <a href="/register"> Register </a>
    {% endif %}
    

    <a href="javascript:void(0);" class="icon" onClick="openDrawerMenu()">&#9776;</a>
    <!--&#9776; is the code for the 3 line menu button-->
</div>

