<div class="navBar" id="mainNavBar">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('courses') }}"> Courses</a> 
        <a href="{{ path('ScanCode') }}"> Scan</a> 
        <a href="{{ path('fos_user_security_logout') }}"> Logout </a>
        <span style='float: right;color: white;padding: 14px 16px;font-size: 17px;'>Connected as {{ app.user.username }}</span>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}"> Login </a>
        <a href="/register"> Register </a>
    {% endif %}
    

    <a href="javascript:void(0);" class="icon" onClick="openDrawerMenu()">&#9776;</a>
    <!--&#9776; is the code for the 3 line menu button-->
</div>

