<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="2">Class List</th>
			</tr>
			<tr>
				<th style="width:80%">Student's name</th>
				<th style="width:20%">Remove</th>
			</tr>
		</thead>
		<tbody id="bodyClassList"></tbody>
	</table>
</div>
