{% extends "base/baseTeacher.html.twig" %}


{% block body %}

	<script src="{{ asset('js/createClass.js') }}"></script>

	<h2 style="text-align:center">
		Create classroom
	</h2>
	<hr style="border: 1px solid #e4e4ff;">


	<form method="post" id="formClassList" style="right:0;display: flex">
		<div style="margin-left:auto; margin-right:1%">
			<label for="nameUe">Name's Classes</label>
			<input type="text" name="nameClasses" id="nameClasses" placeholder="name's Classes"/>

			<button type="submit">Create Class</button>
		</div>
	</form>

	<div style="width:40%;margin:1%; float:left">
		{% include 'teacher/createClass/studentList.html.twig' %}
	</div>
	<div style="width:16%;float:left"></div>
	<div style="width:40%;margin:1%; float:right">
		{% include 'teacher/createClass/classList.html.twig' %}
	</div>
	<br>


{% endblock %}
