<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="2">Student List</th>
			</tr>
			<tr>
				<th style="width:80%">Student's name</th>
				<th style="width:20%">Add</th>
			</tr>
		</thead>
		<tbody id="bodyStudentList">
			{% for user in userList %}
				<tr>
					<td>{{ user.getUser().username }}</td>
					<td>
						<button onclick="TransferToClassList(this)">
							<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
						</button>
					</td>
                    <td style="display:none">
                        <input type="text" value="{{ user.getId() }}" />
                    </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
