<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="4">Classes List</th>
			</tr>
			<tr>
				<th style="width:80%">Name's UE</th>
				<th style="width:20%">Add</th>
			</tr>
		</thead>
		<tbody id="bodyClassList">
			{% for class in classList %}
				<tr>
					<td>{{ class.getGroupName() }}</td>
					<td>
						<button onclick="TransferToCoursesList(this)">
							<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
						</button>
					</td>
                    <td style="display:none">
                        <input type="text" value="{{ class.getId() }}" />
                    </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
