<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="4">Courses List</th>
			</tr>
			<tr>
				<th style="width:80%">Name's UE</th>
				<th style="width:20%">Remove</th>
			</tr>
		</thead>
		<tbody id="bodyCoursesList"></tbody>
	</table>
</div>
