{% extends "base/baseTeacher.html.twig" %}


{% block body %}

	<script src="{{ asset('js/createCourses.js') }}"></script>

	<h2 style="text-align:center">
		Create Courses
	</h2>
	<hr style="border: 1px solid #e4e4ff;">


	<form method="post" id="formClassList" style="right:0;display: flex">
		<div style="margin-left:auto; margin-right:1%">
			<label for="nameUe">Name's Courses</label>
			<input type="text" name="nameCourses" id="nameCourses" placeholder="Name's Courses"/>

			<label for="beginDate">Begin Date courses</label>
			<input type="date" name="beginDateCourses" id="dateCourses"/>

			<label for="beginDate">End Date courses</label>
			<input type="date" name="endDateCourses" id="dateCourses"/>

			<button type="submit">Create Courses</button>
		</div>
	</form>
	<p style="color:red;text-align:center">You can choose only one classe</p>

	<div style="width:40%;margin:1%; float:left">
		{% include 'teacher/createCourses/classList.html.twig' %}
	</div>
	<div style="width:16%;float:left"></div>
	<div style="width:40%;margin:1%; float:right">
		{% include 'teacher/createCourses/coursesList.html.twig' %}
	</div>
	<br>


{% endblock %}
