{% extends "base/baseAdmin.html.twig" %}


{% block body %}

	<style>
		.select100 select {
			width: 100%;
		}

		.select33 select {
			width: 33%;
		}

		button {
			width: 100%;
		}
	</style>

	<div class="loginBloc">

		<h2 style="text-align: center">
			Modify :
			{{ user.getUsername() }}
		</h2>
		<hr style="border: 1px solid #e4e4ff;">
		<br>
		<div style="width:96%;margin:1% 2%">
			{{ form_start(form) }}
			{{ form_label(form.function) }}
			<br>
			<div class="select100">
				{{ form_widget(form.function, {'attr': {'onchange': 'hideAdminDashboard()'}}) }}
			</div>
			<div id="StudentForm">
				<br>
				{{ form_label(form.informationStudent.company) }}
				<br>
				<div class="select100">
					{{ form_widget(form.informationStudent.company) }}
				</div>
				<br>

				{{ form_label(form.informationStudent.startDateContrat) }}
				<br>
				<div class="select33">
					{{ form_widget(form.informationStudent.startDateContrat) }}
				</div>

				{{ form_label(form.informationStudent.endDateContrat) }}
				<br>
				<div class="select33">
					{{ form_widget(form.informationStudent.endDateContrat) }}
				</div>
			</div>
			<div id="CompanyForm">
				<br>
				{{ form_label(form.informationCompany.name) }}
				<br>
				<div class="select100">
					{{ form_widget(form.informationCompany.name) }}
				</div>
			</div>
			<div id="AdministratorForm">
				<br>
				{{ form_label(form.informationAdministrator) }}
				<br>
				<div class="select100">
					{{ form_widget(form.informationAdministrator) }}
				</div>
			</div>
			<div id="TeacherForm">
				<br>
				{{ form_label(form.informationTeacher) }}
				<br>
				<div class="select100">
					{{ form_widget(form.informationTeacher) }}
				</div>
			</div>

			<br>
			{{ form_row(form.save) }}
			{{ form_end(form) }}
		</div>
	</div>

	<input type="text" style="display:none" id="idStudent" value="{{ idStudent }}">
	<input type="text" style="display:none" id="idCompany" value="{{ idCompany }}">
	<input type="text" style="display:none" id="idTeacher" value="{{ idTeacher }}">
	<input type="text" style="display:none" id="idAdministrator" value="{{ idAdministrator }}">
	<script>

		function hideAdminDashboard() {
            let valueSelected = document.getElementById("form_function").value;
            let idStudent = document.getElementById("idStudent").value;
            let idCompany = document.getElementById("idCompany").value;
            let idTeacher = document.getElementById("idTeacher").value;
            let idAdministrator = document.getElementById("idAdministrator").value;
			let nameCompanyInput = document.getElementById("form_informationCompany_name");

            let divInput = document.getElementById("StudentForm");
            let isDisplay = valueSelected == idStudent ? "" : "none";
            divInput.style.display = isDisplay;

            divInput = document.getElementById("CompanyForm");
            isDisplay = valueSelected == idCompany ? "" : "none";
            divInput.style.display = isDisplay;
			nameCompanyInput.required = isDisplay ? "" : "none";

            divInput = document.getElementById("AdministratorForm");
            isDisplay = valueSelected == idAdministrator ? "" : "none";
            divInput.style.display = isDisplay;

            divInput = document.getElementById("TeacherForm");
            isDisplay = valueSelected == idTeacher ? "" : "none";
            divInput.style.display = isDisplay;
        }

        hideAdminDashboard();
	</script>

{% endblock %}
