{% extends "base/baseCompany.html.twig" %}


{% block body %}


	<div class="presenceTable">
		<div class="table-responsive">
			<table class="table table-bordered clickTable table-colorized">
				<thead>
					<tr>
						<th>Student's name</th>
					</tr>
				</thead>
				<tbody>
					{% for user in userList %}
						<tr onclick=redirectToStudentCourses({{ user.getInformationStudent().getId() }})>
							<td>{{ user.username }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</tbody>
	</div>
{% endblock %}
