{% extends "base.html.twig" %}

{# For adding a stylesheet specific to the view (you can do the same for the "javascripts" block) #}
{% block stylesheets %}
    {{ parent() }} {# We want to keep the base styles #}
    <link href="{{ asset('css/page1.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {# <br>
        <a href = "{{ path("ScanCode") }}" class="btn btn-primary"> Scan un code</a>
        <br>
        <a href = "{{ path("generateQrCode") }}" class="btn btn-primary"> Générer un code</a> #}
    {% else %}
        <H1>Vous n'etes pas connecté.</H1>
    {% endif %}
{% endblock %}