{% extends "base.html.twig" %}

{% block body %}
    <h1>Welcome to this skeleton website's services page !</h1>
    <br/>
    <p>You got there through the route linked to the control named "services" (you can find it in src/Controller/MainController.php)</p>
    <p>You can find the view it is currently rendering in templates/services.html.twig</p>
    <br/>
    <p>This view have the particularity to use a rendering parameter, given by the controller</p>
    <p>The parameter is: {{ parameter_name }}</p>
{% endblock %}