{% extends "base/baseStudent.html.twig" %}


{% block body %}


	<style>
		.space {
			width: 242px;
		}
	</style>

	<div class="presenceTable">
		{# <form type="post" style="text-align:center">
			<label for="startDate">
				Start date
			</label>
			<input type="date" id="startDate" name="startDate"/>

			<label style="margin: 0 20px">
				to
			</label>

			<label for="endDate">
				End date
			</label>
			<input type="date" id="endDate" name="endDate"/>

			<button type="submit" name="submit" style="margin-left:20px">
				Search
			</button>
		</form>
		<br> #}
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Date</th>
						<th>Timesheet</th>
						<th>Ue's name</th>
						<th>Presence</th>
					</tr>
				</thead>
				<tbody>
					{% for course in coursesList %}
						{% if course.studentPresence == "Present" %}
							<tr class="isPresent">
							{% elseif course.StudentPresence == "Absent" %}
								<tr class="isAbsent">
								{% else %}
									<tr>
									{% endif %}
									<td>{{ course.beginDate|date("d-m-Y") }}</td>
									<td>{{ course.beginDate|date("H:i")}}
										-
										{{ course.endDate|date("H:i")}}</td>
									<td>{{ course.nameUe }}</td>
									<td>{{ course.studentPresence }}</td>
								</tr>
							{% endfor %}
							{# <tr class="isPresent">
								<td>14-10-2019</td>
								<td>7:45-9:45</td>
								<td>CM Réseaux</td>
								<td>+</td>
							</tr>
							<tr class="isAbsent">
								<td>14-10-2019</td>
								<td>10:30-12:30</td>
								<td>TD Réseaux</td>
								<td>X</td>
							</tr>
							<tr>
								<td>15-10-2019</td>
								<td>8:30-10:00</td>
								<td>TD Base de l'intelligence artificielle</td>
								<td>-</td>
							</tr> #}
						</tbody>
					</table>
				</tbody>
			</div>
			{# <label for="hoursTimesheet" class="space">
				Total hours in timesheet :
			</label>
			<input type="text" id="hoursTimeSheet" name="hoursTimeSheet" value="42" readonly/>
			<br>

			<label for="hoursFollowed" class="space">
				Total hours followed by alternating :
			</label>
			<input type="text" id="hoursFollowed" name="hoursFollowed" value="32" readonly/>
			<br>

			<label for="billingHours" class="space">
				Total billing hours :
			</label>
			<input type="text" id="billingHours" name="billingHours" value="32" readonly/>
			<br>

			<label for="halfDayAbsence" class="space">
				half-day number of absence
			</label>
			<input type="text" id="halfDayAbsence" name="halfDayAbsence" value="10" readonly/> #}
		</div>
	{% endblock %}
